{% if is_granted('ROLE_CLIENT') %}
<p>Il y a
    {{ nbproducts }}
    articles dans votre panier</p>
{% endif %}
<menu>
    <li><a href="{{ path("accueil") }}">Accueil</a></li>
    {% if user is null %}
    <li><a href="{{ path('app_login') }}">Connexion</a></li>
    <li>Créer un compte</li>
    {% else %}
        <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
        {% if is_granted('ROLE_CLIENT') %}
            <li>Mon compte</li>
            <li><a href="{{ path('produit_list') }}">Produits</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_list') }}">Clients</a></li>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_SUPERADMIN') %}
            <li><a href="{{ path('superadmin_admin_add') }}">Administrateurs</a></li>
        {% endif %}
    {% endif %}
</menu>