{# dans le futur, il faudra executer ce code que si l'utilisateur est connecté: #}
{% if user is not null %}
<p>Il y a
    {{ nbproducts }}
    articles dans votre panier</p>
{% endif %}
<menu>
    <li><a href="{{ path("accueil") }}">Accueil</a></li>
    {% if user is null %}
    <li><a href="{{ path('app_login') }}">Connexion</a></li>
    <li>Créer un compte</li>
    {% else %}
        <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
        {% if is_granted('ROLE_CLIENT') %}
            <li>Mon compte</li>
            <li><a href="{{ path('produit_list') }}">Produits</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>Clients</li>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_SUPERADMIN') %}
            <li>Administrateurs</li>
        {% endif %}
    {% endif %}
</menu>