{% extends 'Layouts/vente.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block titre %}Liste des produits{% endblock %}
{% block vue %}
    {% if is_granted("ROLE_ADMIN") %}
        <p><a href="{{ path("admin_product_add") }}">Ajouter un produit</a></p>
    {% endif %}
    <table>
        <tr><th>Nom</th><th>Prix</th><th>Quantité</th></tr>
        {% for produit in produits %}
            {% set nbInCart =0 %}
            {% if user.shoppingCart is not null %}
            {% for cartProduct in user.shoppingCart.shoppingCartProducts %}
                {% if cartProduct.product == produit %}
                    {% set nbInCart = cartProduct.quantity %}
                {% endif %}
            {% endfor%}
            {% endif %}
            <tr><td>{{ produit.name }}</td>
                <td>{{ produit.price }}</td>
                <td>{{ produit.quantity }}</td>
                {% if (nbInCart != 0) or (produit.quantity != 0) %}
                    <td>
                        {{ render(controller('App\\Controller\\ClientController::EditCartAction',{'min':-nbInCart,'max':produit.quantity,'produitId' : produit.id,'userId' : user.id})) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}