{% extends  '/Layouts/base.html.twig' %}

{% block title %}{{ parent() }} {% endblock %}



{% block body %}
    <h2>Ajout d'un Admin</h2>

    {{ form_start(myform) }}

    {{ form_errors(myform) }}

    {{ form_rest(myform) }}

    {{ form_end(myform) }}


{% endblock %}